.formDiv {
  display: flex;
  flex-direction: column;
  width:80%;
  height:80%;
  margin:10% auto;

  transition: all .5s ease-in-out;
}
form {
  display:flex;
  flex-direction: column;
  margin:10%
}
form > input, button,a {
  width:70%;
  margin:10px auto;
  
}
a {
  text-align:center;
  padding:10px;
  font-size: 25px;
}
nav {
  width:100%;
  display: flex;
  flex-direction: row;
}
.logoutbtn {
  width:20%;
  height:25px;
  margin:auto;
}

@media only screen and (max-width: 600px) {
  .formDiv {
    width:70%;
    height:80%;
    margin:5% auto;
  }
  form > input, button,a {
    width:90%;
    margin:5px auto;
    
  }
  .logoutbtn {
    width:20%;
    height:25px;
    font-size: 10px;
    margin:auto;
  }
  h1,h2 {
    font-size: 20px;
  }
}
.logo{
  margin:10px;
  color: #4CA2EA;
  font-size: 35px;
}

@media only screen and (max-width: 350px) {
  .formDiv {
    width:100%;
    height:80%;
    margin:5% auto;
  }
  form {
    margin:2.5% 
  }
  form > input, button,a {
    width:96%;
    margin:5px auto;
    
  }
}