.portfolioDiv{
  width:100%;
  height:80%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  transition: all .5s ease-in-out;
}
.portfolioDiv > div {
  width:50%;
}

#stonksContainer {
  width:90%;
  margin:10% auto;
}
.stock-item {
  display:flex;
  width:90%;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #303f9f;
}
.stock-item > h2 {
	justify-content: space-around;
	margin:5px;
	
}
form > ul {
  display:flex;
  justify-content: center;
}
form > ul > li {
  font-family: 'Baloo Chettan 2', cursive;
  font-size:20px;
  color:red;
}
h1{
  margin:0px;
  text-align: center;
}
@media only screen and (max-width: 600px) {

  .portfolioDiv > div {
    width:100%;
  }
  form > input, button,a {
    width:70%;

    margin:10% auto;
    
  }
  h1,h2 {
    font-size: 20px;
  } 
}

@media only screen and (max-width: 600px) {
  #stonksContainer {
    width:90%;
  margin:5px auto;
  }
  .stock-item {
    width:100%;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 350px) {
  #stonksContainer {
    width:100%;
  margin:5px auto;
  }
  .stock-item {
    width:100%;
    flex-direction: row;
    justify-content: space-between;
  }
}