body {
  background-color: #232323;
  color:white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stock-item {
  width:50%;
  display:flex;
  flex-direction: row;
}
.stock-item > h2 {
  justify-content: space-around;
}
.green {
  color:green
}
.red {
  color:red
}
.gray {
  color:gray
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
